.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .login-form-container {
    width: 30vw;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: var(--col-dialog);
  }

  .login-wrapper-mobile {
    display: flex;
    height: 100dvh;
  }

  .login-form-container-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: var(--col-dialog);
  }
  
  .login-title {
    text-align: center;
  }

  .loginColWhite {
    color: var(--col-white);
  }
  
  .login-form {
    text-align: left;
  }
  
  .login-button {
    width: 100%;
  }

  /* .col_main_purple{
    background-color: var(--col-chat-you);
  } */